:host {
  display: block;
}

span {
  width: 9rem;
  height: 2px;
  border: 0px solid #222;
  background: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
  z-index: 4;
}

